<h1>Welcome to Supporter</h1>

<pre>
<%= Cowsay.say("Click on a New Request to get started.
    Or click on All Requests to see the request list")  %>
</pre>

<!-- <p> Click on a New Request to get started</p> -->
<!-- <p> Or click on All Requests to see the request list</p> -->
<!-- <img src="/assets/images/supporter.jpg"> -->
<!-- <img src="<%= image_path('supporter.jpg') %>" /> -->
